<template>
  <q-page>
    <div class="row bg-negative warning">
      <div class="col-1">
        <i aria-hidden="true" class="q-icon material-icons">warning</i>
      </div>
      <div class="col-11">
        <span>This is not the final version of the website, we are still working on it!</span>
      </div>
    </div>

    <section class="row intro-row">
      <div class="col-12 col-sm-6 col-lg-6 offset-lg-1 text-landing">
        <h1 class="h1-landing"> {{ $t($q.i18n.lang + '.landing.intro.title')}} </h1>
        <p class="slogan-text">
          {{ $t($q.i18n.lang + '.landing.intro.top') }}
        </p>
        <p class="slogan-words">
          Findable
          <br>
          Accessible
          <br>
          Interoperable
          <br>
          Re-usable
        </p>
        <q-btn rounded class="create-button" to="/create">{{ $t($q.i18n.lang + ".landing.intro.create")}}</q-btn>
        <p class="issue-text"><a href="">Issue a badge to someone else?</a></p>
      </div>
      <div class="col-8 col-sm-6 col-lg-5 offset-2 offset-sm-0">
        <img src="../assets/logo-without-text.png" alt="" class="logo-image">
      </div>
    </section>
  </q-page>
</template>

<script>
export default {

}
</script>

<style lang="stylus">
@import '~variables';

.warning {
  padding-left: 20px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.create-button {
  background-color: $logo-orange;
  color: #FFF;
  border-radius: 100px;
  box-shadow: none;
  font-size: 15px;
  margin-top: 2rem;
  padding: 0 3rem;
}

.intro-row {
  height: 90vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.text-landing {
  color: #000;
  margin-bottom: 2rem;
}

.h1-landing {
  font-family: 'Marko One', 'sans-serif';
  color: $logo-blue;
  font-size: 6rem;
  margin-bottom: 30px;
}

.slogan-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: $logo-grey;
}

.slogan-words {
  font-size: 18px;
  color: $logo-grey;
}

.issue-text {
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: 800;
  color: $logo-blue;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}
</style>
