<template>
  <q-page>
    <div class="row bg-negative warning">
      <div class="col-1">
        <i aria-hidden="true" class="q-icon material-icons">warning</i>
      </div>
      <div class="col-11">
        <span>This is not the final version of the website, we are still working on it!</span>
      </div>
    </div>
    <div class="row stepper-row">
      <q-stepper color="" ref="stepper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 stepper" :done-icon="false" :active-icon="false" :contractable="true">

        <q-step default name="choose" :title="$t($q.i18n.lang + '.stepper.step1.step_title')" icon="edit" done-icon="edit" active-icon="edit">
          <div class="row">
            <div class="col-12 col-md-5 offset-md-1">
              <h1 class="h1-title"> {{ $t($q.i18n.lang + '.stepper.step1.title') }}</h1>
              <q-select v-model="selectCompetentie" :options="$t($q.i18n.lang + '.stepper.step1.selectOptions')" :float-label="$t($q.i18n.lang + '.stepper.step1.select')" color="" class="color"/>
              <q-search v-model="skill" :float-label="$t($q.i18n.lang + '.stepper.step1.search')" :clearable="true" color="" class="margin-top-small color"/>
            </div>
            <div class="col-12 col-md-4 offset-md-2 align-center">
              <stepper-card
                :selectCompetentie="selectCompetentie"
                :skill="skill"
                :organisationName="organisationName"
                :organisationEmail="organisationEmail"
                :areaCriteria="areaCriteria"
                :linkWebsite="linkWebsite"
                >
              </stepper-card>
            </div>
          </div>

          <div class="row">
            <div class="col-12 offset-md-1">
              <q-stepper-navigation class="padding-top">
                <q-btn class="filled-button" @click="$refs.stepper.next()" :label="$t($q.i18n.lang + '.stepper.next')"/>
              </q-stepper-navigation>
            </div>
          </div>

         </q-step>

        <q-step name="details" :title="$t($q.i18n.lang + '.stepper.step3.step_title')" icon="insert_comment" done-icon="insert_comment" active-icon="insert_comment">
          <div class="row">
            <div class="col-12 col-md-4 offset-md-1">
              <h1 class="h1-title">{{ $t($q.i18n.lang + '.stepper.step3.title') }}</h1>
              <q-btn class="blue-button" icon="person" :label="$t($q.i18n.lang + '.stepper.step3.authenticate')" />
              <q-input v-model="organisationName" :float-label="$t($q.i18n.lang + '.stepper.step3.name')" color="" class="stepper-input" />
              <q-input v-model="organisationEmail" :float-label="$t($q.i18n.lang + '.stepper.step3.email')" color="" class="stepper-input"/>
              <q-input v-model="areaCriteria" type="textarea" :float-label="$t($q.i18n.lang + '.stepper.step3.criteria')" :max-height="100" rows="3" class="stepper-input" color="" />
              <q-input v-model="linkWebsite" :float-label="$t($q.i18n.lang + '.stepper.step3.link')"  color="" class="stepper-input"/>
            </div>
            <div class="col-12 col-md-4 offset-md-2 align-center">
               <stepper-card
                :selectCompetentie="selectCompetentie"
                :skill="skill"
                :organisationName="organisationName"
                :organisationEmail="organisationEmail"
                :areaCriteria="areaCriteria"
                :linkWebsite="linkWebsite"
                >
              </stepper-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12 offset-md-1">
              <q-stepper-navigation class="padding-top">
                <q-btn class="outlined-button" @click="$refs.stepper.previous()" :label="$t($q.i18n.lang + '.stepper.back')" />
                <q-btn class="filled-button" flat @click="$refs.stepper.next()" :label="$t($q.i18n.lang + '.stepper.next')" />
              </q-stepper-navigation>
            </div>
          </div>
        </q-step>

        <q-step name="assign" :title="$t($q.i18n.lang + '.stepper.step4.step_title')" icon="thumb_up" done-icon="thumb_up" active-icon="thumb_up">
          <div class="row">
            <div class="col-12 col-lg-4 offset-md-1">
              <h1 class="h1-title">{{ $t($q.i18n.lang + '.stepper.step4.title') }}</h1>
              <q-toggle v-model="claim" :label="$t($q.i18n.lang + '.stepper.step4.toggle')" color="" class="toggle" />
              <q-input v-model="receiverName" :float-label="$t($q.i18n.lang + '.stepper.step4.name')" color="" class="stepper-input" />
              <q-input v-model="receiverEmail" :float-label="$t($q.i18n.lang + '.stepper.step4.email')" color="" class="stepper-input" />
              <q-input v-model="areaWhy" type="textarea" :float-label="$t($q.i18n.lang + '.stepper.step4.why')" :max-height="100" rows="3" color="" class="stepper-input" />
            </div>
            <div class="col-12 col-md-4 offset-md-2 align-center">
              <stepper-card
                :selectCompetentie="selectCompetentie"
                :skill="skill"
                :organisationName="organisationName"
                :organisationEmail="organisationEmail"
                :areaCriteria="areaCriteria"
                :linkWebsite="linkWebsite"
                >
              </stepper-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12 offset-md-1">
              <q-stepper-navigation class="padding-top">
                <q-btn class="outlined-button" @click="$refs.stepper.previous()" :label="$t($q.i18n.lang + '.stepper.back')" />
                <q-btn class="filled-button" flat @click="$refs.stepper.next()" :label="$t($q.i18n.lang + '.stepper.next')" />
              </q-stepper-navigation>
            </div>
          </div>
        </q-step>

        <q-step name="overview" :title="$t($q.i18n.lang + '.stepper.step5.step_title')" icon="share" done-icon="share" active-icon="share">
          <div class="row">
            <div class="ccol-12 col-md-4 offset-md-1">
              <h1 class="h1-title">{{ $t($q.i18n.lang + '.stepper.step5.title') }}</h1>
              <h5 class="h5-stepper-title">{{ $t($q.i18n.lang + '.stepper.step5.issuer') }}</h5>
              <p class="card-text">{{ organisationName }}</p>
              <p class="card-link">{{ organisationEmail }}</p>
              <h5 class="h5-stepper-title">{{ $t($q.i18n.lang + '.stepper.step5.receiver') }}</h5>
              <p class="card-text">{{ receiverName }}</p>
              <p class="card-link">{{ receiverEmail }}</p>
              <h5 class="h5-stepper-title">{{ $t($q.i18n.lang + '.stepper.step5.description') }}</h5>
              <p class="card-text" style="white-space: pre-line;">{{ areaCriteria }}</p>
              <h5 class="h5-stepper-title">{{ $t($q.i18n.lang + '.stepper.step5.explanation') }}</h5>
              <p class="card-text" style="white-space: pre-line;">{{ areaWhy }}</p>
            </div>
            <div class="col-12 col-md-4 offset-md-2 align-center">
              <stepper-card
              :selectCompetentie="selectCompetentie"
              :skill="skill"
              :organisationName="organisationName"
              :organisationEmail="organisationEmail"
              :areaCriteria="areaCriteria"
              :linkWebsite="linkWebsite"
              >
              </stepper-card>
            </div>
          </div>

          <div class="row">
            <div class="col-12 offset-md-1">
              <q-stepper-navigation class="padding-top">
                <q-btn class="outlined-button padding">{{ $t($q.i18n.lang + '.stepper.step5.download') }}</q-btn>
                <q-btn class="filled-button padding">{{ $t($q.i18n.lang + '.stepper.step5.email') }}</q-btn>
              </q-stepper-navigation>
            </div>
          </div>
        </q-step>

      </q-stepper>
    </div>
  </q-page>
</template>

<script>
import Card from 'components/stepper-card'

export default {
  components: {
    'stepper-card': Card
  },
  data () {
    return {
      selectLanguages: [
        {
          label: 'Nederlands',
          value: 'nl'
        },
        {
          label: 'English',
          value: 'en'
        }
      ],
      selectLanguage: 'nl',
      modelHex: '#fCCD77',
      claim: false,
      skill: '',
      selectCompetentie: 'none',
      organisationName: '',
      organisationEmail: '',
      areaCriteria: '',
      linkWebsite: '',
      receiverName: '',
      receiverEmail: '',
      areaWhy: ''
    }
  }
}
</script>

<style lang='stylus'>
@import '~variables';

.warning {
  padding-left: 20px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.stepper {
  color: $logo-blue;
  border: none;
  box-shadow: none;
}

.stepper-row {
  padding: 4rem 1rem;
}

.stepper-input {
  color: $logo-grey;
  background-color: #EDEDED;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

.blue-button {
  background-color: $logo-blue;
  color: #fff;
  box-shadow: none;
}

.filled-button {
  background-color: $logo-blue;
  color: #FFF;
  border-radius: 100px;
  box-shadow: none;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 0 1.5rem;
}

.outlined-button {
  border: 1px solid $logo-grey;
  padding: 0 1.5rem;
  margin-right: 10px;
  border-radius: 100px;
  font-size: 15px;
  box-shadow: none;
  letter-spacing: 2px;
  color: $logo-blue;

  &:hover {
    background-color: $logo-blue;
    border: 1px solid $logo-blue;
    color: #FFF;
  }
}

.padding {
  padding-right: 30px;
  padding-left: 30px;
}

.h5-stepper-title {
  font-size: 17px;
  font-weight: 600;
  color: $logo-grey;
  margin-bottom: 5px;
}

.toggle {
  color: $logo-blue;
}

.color {
  color: $logo-blue;
}
</style>
