<template>
  <q-card class="margin-top card">
    <q-card-title class="card-title"> Badge studio </q-card-title>
    <q-card-separator />
    <q-card-main class="card-main">
      <p class="card-grey-text">{{ $t($q.i18n.lang + '.stepper.card.framework') }}: {{ selectCompetentie }}</p>
      <p class="card-subtitle">{{ $t($q.i18n.lang + '.stepper.card.certificate') }}</p>
      <p class="card-skill">{{ skill }}</p>
      <p class="card-text"> {{ organisationName }} </p>
      <p class="card-link"> {{ organisationEmail }} </p>
      <p class="card-subtitle"> {{ $t($q.i18n.lang + '.stepper.step3.criteria') }} </p>
      <p class="card-criteria-content" style="white-space: pre-line;">{{ areaCriteria }}</p>
      <p class="card-link"> {{ linkWebsite }} </p>
    </q-card-main>
  </q-card>
</template>

<script>
export default {
  data () {
    return {}
  },
  props: {
    selectCompetentie: String,
    skill: String,
    organisationName: String,
    organisationEmail: String,
    areaCriteria: String,
    linkWebsite: String
  }

}
</script>

<style lang="stylus">
@import '~variables';

.card {
  text-align: left;
}

.card-title {
  background-color: $logo-blue;
  color: #fff;
  line-height: 1rem;
  font-family: 'Marko One', 'serif';
}

.card-grey-text {
  color: $logo-grey;
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $logo-grey;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-skill {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-text {
  color: $logo-grey;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.card-link {
  color: $logo-blue;
  font-size: 16px;
}

.card-criteria-content {
  color: $logo-grey;
  font-size: 14px;
  font-weight: 500;
}
</style>
