// app global css
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Marko+One');

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.h5-title {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 10px;
}

.h6-title{
  margin-bottom: 10px;
  font-size: 20px;
}

.align-center {
  text-align: center;
}

.padding-top {
  padding-top: 3rem;

  &-small{
    padding-top: 1rem;
  }
}

.margin-top {
  margin-top: 2rem;

  &-small {
    margin-top: 0.8rem;
  }
}