<template>
  <q-layout>
    <q-layout-header>
      <div class="row header-row">
        <div class="align-center col-2 col-sm-3 col-md-2 col-lg-1">
          <img src="../assets/logo-without-text.png" alt="" class="header-logo" @click="$router.push('/')">
        </div>
        <div class="header-button-group col-10 col-sm-7 col-md-6 col-lg-4 offset-sm-2 offset-md-4 offset-lg-7">
          <div class="row header-row">
            <div class="col-7 col-sm-8 col-md-7 col-lg-8 col-xl-7 offset-sm-0 offset-md-1 offset-lg-0">
              <ul class="ul-header">
                <li><a href="">Sign in</a></li>
                <li><a href="https://badgestudio.gitlab.io/">About</a></li>
              </ul>
            </div>
            <div class="col-5 col-sm-4  offset-sm-0">
              <ul class="ul-header">
                <li class="language" @click="changeLanguage($event)">NL</li>
                <li class="language" @click="changeLanguage($event)">FR</li>
                <li class="language active" @click="changeLanguage($event)">EN</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>

export default {
  data () {
    return {
      lang: this.$q.i18n.lang
    }
  },
  watch: {
    lang (lang) {
      import(`quasar-framework/i18n/${lang}`).then(lang => {
        this.$q.i18n.set(lang.default)
      })
    }
  },
  methods: {
    changeLanguage (event) {
      let lang = event.target.innerHTML.toLowerCase()

      // this could probably be done better, I didn't find how to do it
      let elements = event.target.parentElement.getElementsByClassName('language')
      for (let i = 0; i < elements.length; i++) {
        elements[i].classList.remove('active')
      }

      event.target.classList.add('active')

      if (lang === 'en') {
        lang = 'en-us'
      }
      import(`quasar-framework/i18n/${lang}`).then(lang => {
        this.$q.i18n.set(lang.default)
      })
    }
  }
}
</script>

<style lang="stylus">
@import '~variables';

.header-row {
  display: flex;
  align-items: center;
}

.ul-header {
  color: $logo-grey;

  & li {
    float: left;
    padding-left: 25px;

    & a {
      color: $logo-blue;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.language {
  padding: 0px 3px !important;
  margin-right: 10px;
  text-align: center;

  &:hover {
    cursor: pointer;
    border: 1px solid $logo-orange;
    border-radius: 2px;
  }

  &.active {
    background-color: $logo-orange;
    border-radius: 2px;
    color: #fff;
  }
}

.header-logo {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.header-button-group {
  text-align: center;
}
</style>
